{% extends "layout.html" %}
{% block content %}
<h3>EDIT</h3>
<div style= "text-align: left">
<form  method = "POST" >
				
		<input class = "form-control" type = "text" name = "id" placeholder = "ID">
		
		<input class = "form-control" type = "text" name = "name" placeholder = "NAME"> 
		
		<input type="radio" name="action" value="add">Add</br>
		<input type="radio" name="action" value="modify">Modify </br>
		<input type="radio" name="action" value="delete">Delete 
		
		</br></br>Check the Table:</br>
		<input class = "form-control" list="tables" name = "tables"> </br>
			<datalist id="tables">
				<option value="Books">
				<option value="Authors">
			</datalist>		
		
		<input class="btn btn-lg btn-success" type="submit" value="Отправить" > </br></br>
		{% if error =='Success' %}		
		<div class="alert alert-success">{{ error }}</div>
		{% else %}
		<div class="alert alert-danger">{{ error }}</div>
		{% endif %}
</div>		
		<p><h2> BOOKS </h2></p>
<div class="panel panel-default">
<table class="table table-hover"style= "text-align: left">
			
				<thead>
					<tr>
						<th>ID</th>
						<th>Books</th>                 
					</tr>
				</thead>
				
				<tbody>
					{% for book in query2 %}
					<tr>                  
						<td>{{ book.id }}</td>
						<td>{{ book.title }}</td>
					</tr>
					{% endfor %}
				</tbody>
				
	</table>
</div>
<p><h2> AUTHORS </h2></p>	
<div class="panel panel-default">
<table class="table table-hover"style= "text-align: left">
			
				<thead>
					<tr>
						<th>ID</th>
						<th>Author</th>                 
					</tr>
				</thead>
				
				<tbody>
					{% for author in query1 %}
					<tr>                  
						<td>{{ author.id }}</td>
						<td>{{ author.name }}</td>
					</tr>
					{% endfor %}
				</tbody>		
</form>
</div>
{% endblock %}